<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  .popover__title {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
    padding: 15px 0;
  }

  .popover__wrapper {
    position: relative;
    display: inline-block;
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translate(0, 20px);
    background-color: #bfbfbf;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: 200px;
  }
  .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: 170px;
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message {
    text-align: center;
  }

</style>

<b>ID da Importação:</b> <%= @execution.id %></br>
<b>Total de linhas:</b> <%= @execution.count %></br>
<b>OK:</b> <%= @execution.successed %></br>
<b>Warnings:</b> <%= @execution.warning %></br>
<% if @execution.warnings.any? %>
  <%=
    render partial: "#{ActiveAdminFileImporter::Core.gem_name}/confirmation_page/table",
           locals: { execution: @execution, items: @execution.warnings }
  %>
  </br>
<% end %>

<b>Repetidas:</b> <%= @execution.repeated %></br>
<% if @execution.repeateds.any? %>
  <%=
    render partial: "#{ActiveAdminFileImporter::Core.gem_name}/confirmation_page/table",
           locals: { execution: @execution, items: @execution.repeateds }
  %>
  </br>
<% end %>

<b>Erros:</b> <%= @execution.errored %></br>
<% if @execution.errors.any? %>
  <b>Não é possível importar pois existem erros.</b></br>
  <b>Passe o mouse em cima do número da linha para ver mais detalhes.</b></br>
  <%=
    render partial: "#{ActiveAdminFileImporter::Core.gem_name}/confirmation_page/table",
           locals: { execution: @execution, items: @execution.errors }
  %>
  </br>
<% end %>

<b>Confira todas as linhas antes de continuar:</b></br>
<%= form_with url: @route do |f| %>
  <%=
    render partial: "#{ActiveAdminFileImporter::Core.gem_name}/confirmation_page/table",
           locals: { execution: @execution, items: @execution.items }
  %>

  <p class="inline-hints input">
    <%= f.submit 'Importar', style: "margin-left: -16px" if @execution.errored.zero? %>
  </p>
<% end %>
