<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  .popover__title {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    color: rgb(228, 68, 68);
    text-align: center;
    padding: 15px 0;
  }

  .popover__wrapper {
    position: relative;
    display: inline-block;
  }
  .popover__content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transform: translate(0, 20px);
    background-color: #bfbfbf;
    padding: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    width: 200px;
  }
  .popover__content:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: 170px;
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  .popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }
  .popover__message {
    text-align: center;
  }

</style>

<b>ID da Importação:</b> <%= @execution.id %>
</br>
<b>OK:</b> <%= @execution.successed %></br>
<b>Warnings:</b> <%= @execution.warning %><% unless @execution.warning.zero? %> - Linhas: <%= @execution.numbers(:warning)%><%end%></br>
<b>Repetidas:</b> <%= @execution.repeated %><% unless @execution.repeated.zero? %> - Linhas: <%= @execution.numbers(:repeated)%><%end%></br>
<b>Erros:</b> <%= @execution.errored %><% unless @execution.errored.zero? %> - Linhas: <%= @execution.numbers(:error)%><%end%></br>
<b>Total de linhas:</b> <%= @execution.count %></br>

</br>

<% if @execution.repeated > 0 %>
  <b>Existem linhas repetidas</b></br>
<% end %>

<% if @execution.errored > 0 %>
  <b>Não é possível importar pois existem erros.</b></br>
<% end %>

<% if @execution.warning > 0 %>
  <b>Existem linhas com WARNING.</b></br>
<% end %>

<% if @execution.warning > 0 || @execution.warning > 0 %>
  <b>Passe o mouse em cima do número da linha para ver mais detalhes.</b></br>
<% end %>

<% if @execution.errored.zero? %>
  <b>Confira todos as linhas antes de continuar:</b></br>
<% end %>

</br>
<%= form_with url: @route do |f| %>
  <table class="index_table index">
    <thead>
      <tr>
        <th scope="col">Linha</th>
        <% @execution.columns.each do |column| %>
          <th scope="col"><%= column %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @execution.items.each do |item| %>
         <tr>
            <td>
              <div class="popover__wrapper">
                <p style="min-width: 50px;">
                  <% if item.error %>
                    <i class="fa fa-times" style="color: #EA4435;"></i>
                  <% elsif item.warning %>
                    <i class="fa fa-warning" style="color: #FBBC04;"></i>
                  <% else %>
                    <i class="fa fa-check-circle" style="color: #33A854;"></i>
                  <% end %>
                  <%= item.number %>
                </p>
                <% if item.warning || item.error %>
                  <div class="popover__content">
                    <% item.warning&.split("\n")&.each do |message| %>
                      <p class="popover__message">
                        <i class="fa fa-warning" style="color: #FBBC04; margin-right: 3px;"></i><%= message %>
                      </p>
                    <% end %>

                    <% item.error&.split("\n")&.each do |message| %>
                      <p class="popover__message">
                        <i class="fa fa-times" style="color: #EA4435; margin-right: 3px;"></i><%= message %>
                      </p>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </td>

            <% item.show_sorted.each do |field| %>
              <td title="<%= field.processed %>"><%= field.raw %></td>
            <% end %>
         </tr>
      <% end %>
    </tbody>
  </table>

  <p class="inline-hints input">
    <%= f.submit 'Importar', style: "margin-left: -16px" if @execution.errored.zero? %>
  </p>
<% end %>
